/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
/storage/tmp
.DS_Store
/code_execution_env
/database/schema
.aider*
/b2bprompt.md
/.idea
/storage/gogeneric-3aae6-92391b956b47.json
public/firebase-messaging-sw.js
/storage/app/livewire-tmp
.cursor
